<style>
	.main-wrapper{background-position: 0% 32%;height: 120px;}
	.header-main {height: 100%;background: rgba(0,0,0,.3);}
</style>

<section class="single-pageContent">
	<div class="product-specSection">
		<div class="specSection-column product-gallery">
			<img src="/images/<%= productJson[productId]["image"] %>" alt="<%= productJson[productId]["brandName"] %>"/>
			<div class="product-btn text-center">
				<a class="btn videoBtn startPlayer" href="#" videoName="<%= productJson[productId]["video"] %>" title="<%= productJson[productId]["brandName"] %>">Play Video</a>
			</div>
		</div>
		<div class="specSection-column product-description">
			<h1 class="product-name">
				<span class="brand-name"><%= productJson[productId]["brandName"] %></span>
				<span class="collection-name"><%= productJson[productId]["collectionName"] %></span>
				<span class="modal-number"><%= productJson[productId]["sku"] %></span>
			</h1>
			<h2>Full specification</h2>
			<ul class="product-spacification">
				<% if(productJson[productId]["feature"] != undefined) { %>
				<li>
					<span class="specifiction">Features</span>
					<span class="spec-description"><%= productJson[productId]["features"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["movement"] != undefined) { %>
				<li>
					<span class="specifiction">Movement</span>
					<span class="spec-description"><%= productJson[productId]["movement"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["calibre"] != undefined) { %>
				<li>
					<span class="specifiction">Calibre</span>
					<span class="spec-description"><%= productJson[productId]["calibre"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["caseSize"] != undefined) { %>
				<li>
					<span class="specifiction">Case Size</span>
					<span class="spec-description"><%= productJson[productId]["caseSize"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["caseShape"] != undefined) { %>
				<li>
					<span class="specifiction">Case Shape</span>
					<span class="spec-description"><%= productJson[productId]["caseShape"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["caseMaterial"] != undefined) { %>
				<li>
					<span class="specifiction">Case Material</span>
					<span class="spec-description"><%= productJson[productId]["caseMaterial"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["caseBack"] != undefined) { %>
				<li>
					<span class="specifiction">Case Back</span>
					<span class="spec-description"><%= productJson[productId]["caseBack"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["lugWidth"] != undefined) { %>
				<li>
					<span class="specifiction">Lug Width</span>
					<span class="spec-description"><%= productJson[productId]["lugWidth"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["glassMaterial"] != undefined) { %>
				<li>
					<span class="specifiction">Glass Material</span>
					<span class="spec-description"><%= productJson[productId]["glassMaterial"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["luminosity"] != undefined) { %>
				<li>
					<span class="specifiction">Luminosity</span>
					<span class="spec-description"><%= productJson[productId]["luminosity"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["dialColor"] != undefined) { %>
				<li>
					<span class="specifiction">Dial Colour</span>
					<span class="spec-description"><%= productJson[productId]["dialColor"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["hands"] != undefined) { %>
				<li>
					<span class="specifiction">Hands</span>
					<span class="spec-description"><%= productJson[productId]["hands"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["indexes"] != undefined) { %>
				<li>
					<span class="specifiction">Indexes</span>
					<span class="spec-description"><%= productJson[productId]["indexes"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["strapMaterial"] != undefined) { %>
				<li>
					<span class="specifiction">Strap Material</span>
					<span class="spec-description"><%= productJson[productId]["strapMaterial"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["strapColor"] != undefined) { %>
				<li>
					<span class="specifiction">Strap Colour</span>
					<span class="spec-description"><%= productJson[productId]["strapColor"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["claspType"] != undefined) { %>
				<li>
					<span class="specifiction">Clasp Type</span>
					<span class="spec-description"><%= productJson[productId]["claspType"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["gender"] != undefined) { %>
				<li>
					<span class="specifiction">Gender</span>
					<span class="spec-description"><%= productJson[productId]["gender"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["waterResistance"] != undefined) { %>
				<li>
					<span class="specifiction">Water Resistance (M)</span>
					<span class="spec-description"><%= productJson[productId]["waterResistance"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["warrantyPeriod"] != undefined) { %>
				<li>
					<span class="specifiction">Warranty Period</span>
					<span class="spec-description"><%= productJson[productId]["warrantyPeriod"] %></span>
				</li>
				<% } %>
				<% if(productJson[productId]["limitedEdition"] != undefined) { %>
				<li>
					<span class="specifiction">Limited Edition</span>
					<span class="spec-description"><%= productJson[productId]["limitedEdition"] %></span>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</section>