<style>
.main-wrapper{background-position: 0% 32%;height: 120px;}
.header-main {height: 100%;background: rgba(0,0,0,.3);}
</style>
<section class="double-pageContent">
	<div class="double-productRow">
		<div class="double-productColumn text-center">
			<a href="#" title="See More Product Specifiction"><img src="/images/<%= productJson[productId1]["image"] %>" alt="<%= productJson[productId1]["brandName"] %>" /></a>
			<h2 class="product-name">
				<span class="brand-name"><%= productJson[productId1]["brandName"] %> </span>
				<span class="collection-name"><%= productJson[productId1]["collectionName"] %></span>
				<span class="modal-number"><%= productJson[productId1]["sku"] %></span>
			</h2>
			<div class="product-price">
				<span class="price">₹ <%= productJson[productId1]["price"] %></span>
			</div>
			<div class="product-btn">
				<a href="#" class="btn videoBtn startPlayer" videoName="<%= productJson[productId1]["video"] %>">Play Video</a>
			</div>
		</div>
		<div class="double-productColumn text-center">
			<a href="#" title="See More Product Specifiction"><img src="/images/<%= productJson[productId2]["image"] %>" alt="<%= productJson[productId2]["name"] %>" /></a>
			<h2 class="product-name">
				<span class="brand-name"><%= productJson[productId2]["brandName"] %></span>
				<span class="collection-name"><%= productJson[productId2]["collectionName"] %></span>
				<span class="modal-number"><%= productJson[productId2]["sku"] %></span>
			</h2>
			<div class="product-price">
				<span class="price">₹ <%= productJson[productId2]["price"] %></span>
			</div>
			<div class="product-btn">
				<a href="#" class="btn videoBtn startPlayer" videoName="<%= productJson[productId2]["video"] %>">Play Video</a>
			</div>
		</div>
	</div>
</section>